@model List<Cadete> 
@{
    ViewData["Title"] = "Listado de Cadetes";
}

<h1>Listado de cadetes</h1>
<a asp-controller="Cadete" asp-action="Alta" class="btn btn-primary btn-sm"> Crear nuevo Cadete</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Jornal</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Cadete in Model)
        {
            <tr>
                <td>@Cadete.getID()</td>
                <td>@Cadete.getNombre()</td>
                <td>@Cadete.getDireccion()</td>
                <td>@Cadete.getTelefono()</td>
                <td>@Cadete.jornal_a_cobrar()</td>
                <td>
                    <!-- con href o con asp-controller="Cadetes" asp-action="Baja" asp-NOSEQUE="@Cadete.getID()"-->
                    <a class="btn btn-danger btn-sm" href="Baja/@Cadete.getID()">
                        <svg class="bi" width="18" height="18" fill="currentColor">
                            <use xlink:href="../../bootstrap-icons/bootstrap-icons.svg#trash-fill" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
